@import "../../shared/colors.scss";

#sia-propview-container {
    grid-area: propview;
    -moz-user-select: -moz-none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
	// apply bootstrap border glow padding.
	padding: 0.2rem;

	[data-ref="canvas-area"] {
        grid-area: first;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "propertiesCanvas";
        border-radius: 5px;

        canvas {
           grid-area: propertiesCanvas;
           width: 100%;
           height: 100%;
           border-radius: 5px;
        }
    }

	[data-ref="label-area"] {
        grid-area: second;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "label"
            "description";
        grid-column-gap: 1em;
        
        [data-ref="label-select"] {
			// need to set z-index, to see long lists.
			z-index: 1;
            grid-area: label;
            &:focus{
                background-color: $COLOR_HIGHLIGHT;
                // remove the outline if selected.
                outline: none !important;
                -moz-outline: none !important;
                color: #FFF;
                color: rgba(255,255,255,0);
                text-shadow: 0 0 0 #FFF;
            }
        }
        [data-ref="label-description"] {
            grid-area: description;
            resize: none;
            cursor: text;
            padding: 1em;
        }
    }

	[data-ref="properties-area"] {
        grid-area: third;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 22%);
        grid-row-gap: 4%;
        align-items: center;
        justify-items: center;

        strong {
            margin-right: 0.3em;
        }
        strong, span {
            font-size: 100%;
        }
        button{
            width: 90%;
        }
    }
}

.sia-propview-canvas-border{
    border: 2px solid #adadad;
    border-radius: 5px;
}
.propview-layout-portrait{
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: repeat(3, 150px);
    grid-row-gap: 1em;
    grid-template-areas:
        "first"
        "second"
        "third";
    justify-items: space-between;
    margin-bottom: 0px;
}
.propview-layout-landscape{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: 150px;
    grid-template-areas:
        "first second third";
    grid-column-gap: 1em;
}
