$height-padding: 3px;
$width-padding: 7px;


#mia-tags{
    user-select: none;
    grid-area: labelarea;
    margin: 1em 0;
}
.mia-tag {
    cursor: default;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 6px;
    &:last-child{
        margin-right: unset;
    }
    div {
        display: inline-block;
    }
    div:first-child {
        padding: $height-padding 0 $height-padding $width-padding;
        margin-right: 2px;
        font-weight: bold;
    }
    div:last-child {
        padding: $height-padding $width-padding;
        cursor: pointer;
        i {
            pointer-events: none;
        }
    }
}
