$height-padding: 3px;
$width-padding: 7px;


#mia-tags{
    user-select: none;
    grid-area: labelarea;
    margin: 1em 0;
}
.mia-tag {
    cursor: default;
    display: inline-block;
    border: 2px solid #FC6A6C;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 10px;
    &:last-child{
        margin-right: unset;
    }
    div {
        margin-top: 3px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }
    div:first-child {
        padding: $height-padding 0 $height-padding $width-padding;
        margin-right: 2px;
        font-weight: bold;
    }
    div:last-child {
        padding: $height-padding $width-padding;
        cursor: pointer;
        i {
            pointer-events: none;
        }
    }
}

.menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cccccc;
  }
  
  .item {
    padding: 2px 6px;
    cursor: default;
  }
  
  .item-highlighted {
    color: white;
    background-color: #4095bf;
  }
  
  .item-header {
    background-color: #eeeeee;
    color: #454545;
    font-weight: bold;
  }