@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$headerHeight: 40px;
$headerPadding: 10px;

.annotask-modal-card{
    margin: 20px
}

.pipeline-start-4{
    text-align: center
}

.pipeline-running-toolbar{
   // background-color: #eee8d5;
    text-align: center
}

.pipeline-running-toolbar-button{
    margin-right: 10px;
    margin-left: 10px;
}

.pipeline-running-container{
    font-family: 'Lato';
    font-weight: 400;
}
.pipeline-start-container{
    font-family: 'Lato';
    font-weight: 400;
}

//React Table
.rt-tr-group{
    cursor: pointer;
    border-top: 0.5px solid gray!important
}
.rt-tr.-odd{
    background-color: whitesmoke !important;
    border: 0px solid gray!important
}

.rt-th{
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: center;
    font-size: large;
    background-color: lightgray;
}

.rt-resizable-header-content{
    line-height: $headerHeight - $headerPadding;
}

.rt-td{
    text-align: center
}

.rt-progress{
    height: 20px;
}

