.annotask-modal-card{
    margin: 20px
}

.pipeline-start-tab3-conainer{
    text-align: center
}

.pipeline-running-toolbar{
   // background-color: #eee8d5;
    text-align: center
}

.pipeline-running-toolbar-button{
    margin-right: 10px;
    margin-left: 10px;
}