
.sia-user-manual{
    width: 100%;
    overflow-x: auto;
    // margin-top: 4rem;

    &:nth-child(even){
        margin-top: 3rem;
    }

    .sia-table-wrapper{
        margin-bottom: 1.2rem;
        table{
            margin-bottom: 0.6rem;
            width: 100%;
            display:table;
            tr{
                display: table-row;
                td {
                    display: table-cell;
                }
                th{
                    display: table-cell;
                    text-align: left;
                    width: 10em;
                }
            }
        }
    }
    .sia-shortcut{
        span {
            width: 3em !important;
            padding: 2px 4px;
            margin: 0px 3px;
            font-size: 1.5em;
            font-style: normal;
            font-style: normal;
        }
        .sia-separator{
            padding: 2px 0.3em !important;
            font-size: 0.9em !important;
            font-style: normal !important;
            text-transform: uppercase !important;
        }
        .sia-plus{
            font-size: 1.2em;
        }
    }
    .sia-key{
        padding: 3px 8px;
        border: 3px outset #bbb;
        border-radius: 3px;
        width: 4.6em;
        text-align: center;
        background-color: #fff;
        display:inline-block;
        font-size: 1.0em;
        margin-bottom: 3px;
    }

    h2{
        /* bootstrap td, th padding: 8px */
        text-indent: 4px;
        // font-size: 1.4em;
        margin-bottom: 1em;
    }
    h4{
        text-indent: 4px;
        margin-bottom: 0.6em;
        // font-size: 1.5em;
        // font-variant: small-caps;
    }
}
