<style>
#completedtable tbody tr{
  cursor: pointer;
}
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-rocket fa-1x" aria-hidden="true"></i> Finished Pipes <small>Click on checkbox to show Pipeline Details</small></h2>                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <table id="completedtable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Creator</th>
                            <th>Date Created</th>
                            <th>Date Finished</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
