scope=cartok
username=cartok
loglevel=silent
registry=https://npm.l3portal.de:4873/
@cartok:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
//npm.l3portal.de:4873/:_authToken="zZcZwiAWuyYspOAGrzAlE/LBH55oyfzslOQvPsQ/5n0="
//registry.npmjs.org/:_authToken=fcb3b15d-4d4a-44dc-b96d-13ee9d25582d
user=cartok
email=dennis.weiershaeuser@informatik.hs-fulda.de
