aniso8601==4.0.1
asn1crypto==0.24.0
bcrypt==3.1.4
blinker==1.4
certifi==2018.10.15
cffi==1.11.5
Click==7.0
cryptography==2.3.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-JWT-Extended==3.13.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.2
Flask-User==1.0.1.5
Flask-WTF==0.14.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
passlib==1.7.1
pycparser==2.19
PyJWT==1.6.4
pytz==2018.7
six==1.11.0
SQLAlchemy==1.2.13
Werkzeug==0.14.1
WTForms==2.2.1
