.toolbar {
	width: 100%;
	.btn-group {
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		button {
			margin-right: 0.5rem;
			i {
				padding-right: 0.5rem;
			}
		}
	}
}

.update-indicator {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 2rem;
	label {
		color: gray;
		text-transform: uppercase;
		margin: 0rem 1rem;
	}
}