@import "../drawable.styles.scss";

.drawable-label {
    rect {
        fill: rgba(255,255,255,0.5);
        display: block;
    }
    text {
        font-family: Arial;
        fill: rgba(70,70,70,1);
    }
}
.drawable-menubar-background {
    fill: rgba(102, 102, 102, 1);
}
.drawable-menubar-label {
    overflow: hidden !important;
    text {
        padding-right: 0.5em;
        width: 100px; 
        font-family: 'Amiko', Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
    }
}
.drawable-menubar-close-button {
    cursor: pointer;
    line {
        stroke: #eee;
        stroke-width: 4px;
    }
    &:hover{
        line {
            stroke: #fff !important; 
        }
    }
}

.drawable-menubar {
    cursor: pointer;

    &-selected {
        cursor: grab;
        cursor: -webkit-grab;
        .drawable-menubar-background {
            fill: rgba(70,70,70,1);
        }
        .drawable-menubar-label {
            text {
                fill: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
            }
        }
        .drawable-label {
            rect {
                fill: rgba(255,255,255,0.85);
            }
            text {
                fill: rgba(20,20,20,1);
            }
        }
    }
    &-not-selected {
        .drawable-menubar-background {
            fill: rgba(70,70,70,0.2);
        }
        .drawable-menubar-label {
            text {
                fill: #ccc;
                text-shadow: 1px 1px rgba(40, 40, 40, 0.5);
            }
        }
        .drawable-label {
            rect {
                fill: rgba(255,255,255,0.5);
            }
            text {
                fill: rgba(70,70,70,1);
            }
        }
    }
    &-on-hover {
        .drawable-menubar-background {
            fill: rgba(70,70,70,0.7);
        }
        .drawable-menubar-label {
            text {
                fill: #fff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
            }
        }
        .drawable-label {
            rect {
                fill: rgba(255,255,255,0.7);
            }
            text {
                fill: rgba(50,50,50,1);
            }
        }
    }

}