@import "../../shared/colors.scss";

$btn-border-selected-color: #ADADAD;
$btn-border-unselected-color: #E5E5E5;
$btn-background-unselected-color: #797979;
$btn-background-selected-color:#E6E6E6;
$btn-background-hover-color: #E6E6E6;

.sia-tool-selected{
    border-color: $btn-border-selected-color;
    background-color: $btn-background-selected-color;
}

#sia-toolbar-container {
    grid-area: toolbar;
    background-color: #fff;
    grid-gap: 0.5em 0.5em;

    > * {
        position: relative;

        // override bootstraps .btn class
        margin: 0;
        padding: 0;
    }

    button {
        padding: 2px;
        width: 42px;
        height: 42px;
        // icon original size: 48px
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.toolbar-layout-column {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "icon"
        "icon"
        "icon"
        "icon";
    align-self: center;
    justify-content: start;
    align-items: stretch;
}
.toolbar-layout-row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-template-areas:
        "icon icon icon icon";
    align-self: center;
    justify-content: start;
    align-items: center;
}
