{% load static %}
<link href="{% static 'start-style.css' %}" rel="stylesheet"> {% include "loader_datatable_css.html" %}


<section class="content-header">
        <h1>Pipes<small>Start</small></h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus"></i> Start Pipe</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="padding:30px">
                    <div id="pipe-start-content" class="x_content row">
                            <!-- wizard gets added here... -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>

<script src="{% static 'start-bundle.js' %}"></script>
<script>
    // debug = false
    let params = {
        isDebug: false
    }
    window.APP.init(params)
</script>