
<div class="container">

    <div class="row">
        <h2>
            <i class="fas fa-check" aria-hidden="true"></i>
            <div style="display:inline-block">Completed Pipe</div>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div id="pipe-running-content" class="row">
        <!-- wizard gets added here... -->
    </div>

</div>
