
.pipeline-graph-node {
	&.card {
		// remove default margin-bottom
		margin-bottom: 0rem;
	}
	.card-header {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		i {
			font-size: 1.6rem;
			padding-right: 0.3rem;
		}
		span {
			font-variant: small-caps;
		}
	}
	.card-body {
		.card-grid {
			display: grid;
			grid-template-columns: 2fr 8fr;
			grid-auto-rows: auto;
			grid-gap: 0.5rem;
			.attribute {
				grid-column: 1 / 2;
				text-align: right;
				font-weight: bold;
				&:after {
					content: ":";
				}
			}
			.grid-all-columns {
				grid-column: 1 / -1;
			}
			i {
				font-size: 3.5rem;
				justify-self: center;
			}
			.progress {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 1.5rem;
				border: 1px solid rgba(0, 0, 0, 1); 
				border-radius: 0.3rem;
				background-color: rgba(224, 224, 224, 1); 
				.progress-text {
					color: black;
					
				}
			}
		}
	}
	.card-footer {
		.status {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 1.8rem;
			border-radius: 0.5rem;
			.status-text {
				font-size: 115%;
				letter-spacing: 1px;
			}
		}
	}

}


// background and text color classes. (overriding with !important, reason?...)
.bg-green {
    background: #139006 !important;
    border: none !important;
}
.bg-red {
    background: red;
    color: whitesmoke    
}
.bg-blue {
    border-color: #337AB7 !important;
    background: #337AB7 !important;
    color: whitesmoke !important;
}
.bg-orange {
    background: orange;
    color: whitesmoke !important;
}
.bg-red {
    background: red;
    color: whitesmoke !important;
}
.color-white {
    color: white;
}
.color-red {
    color: red;
}
.color-grey {
    color: gray
}
.color-black {
    color: black
}
.bg-light-green {
    background-color:#42CA35;   
    color: whitesmoke    
}


// below not used?
// debug mode blink effect
@keyframes blink {
    0% {
		color: rgba(223,116,1,1)
    }
    50% {
		color: rgba(223,116,1,0.5)
    }
    100% {
		color: rgba(223,116,1,1)
    }
}
.debug-on {
    text-align: center;
    margin-bottom: 4px;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
    animation: blink normal 1.5s infinite ease-in-out;
}
