{% load static %}

<!-- Datatables -->
{% include "loader_datatable_css.html" %}

<style>
#templatetable tbody tr{
  cursor: pointer;
}
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Pipeline Templates <small>Click on Template's row to edit the Template</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="templatetable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>Import Date</th>
                            <th>Debug Mode</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editTemplate" tabindex="-1" role="dialog" aria-labelledby="editTemplate" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Template
                    <div id="edit_template_name" style="display:inline-block;"></div></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <input id="template_id" type="hidden">
                        <form id="edit_template" class="form-horizontal form-label-left" novalidate>
                            <span class="section">Template Info</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="edit_template_debug_mode">Debug Mode</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="checkbox" id="edit_template_debug_mode" name="edit_template_debug_mode" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </form>
                        <span class="section">Delete Template</span>
                              <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-4">
                          <button id="remove_template" class="btn btn-danger">Delete Template
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "vendors/bootstrap-validator/dist/validator.min.js" %}"></script>
<script src="{% static "js/manage_templates/debug_table.js" %}"></script>

<!-- Datatables -->
{% include "loader_datatable_js.html" %}
