$headerHeight: 40px;
$headerPadding: 10px;

//React Table
.rt-tr-group{
    cursor: pointer;
    border-top: 0.5px solid gray!important
}
.rt-tr.-odd{
    // background-color: whitesmoke !important;
    border: 0px solid gray!important
}

.rt-th{
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: center;
    font-size: medium;
    // background-color: lightgray;
}

.rt-resizable-header-content{
    line-height: $headerHeight - $headerPadding;
}

.rt-td{
    text-align: center
}

.rt-progress{
    height: 20px;
}