$gray-base:                     #092F38    !default;
//$gray-base: rgb(0,255,0) !default;
$sidebar-dark-nav-link-hover-bg: #10515f        !default;
$primary:                        #092F38   !default;
