$gray-base: #092f38 !default;
$sidebar-dark-nav-link-hover-bg: #10515f !default;
$primary: #092f38;
// $primary: #086175 !default;
// $info: #086175 !default;
// $info: #0f768d !default;
$info: #14859e !default;