// Variable overrides
$sidebar-bg: #073642 !default;
$body-bg: #fdf6e3 !default;
$navbar-bg: #073642 !default;
$sidebar-nav-link-hover-bg: rgb(37, 84,96) !default;
$navbar-color:   #ffffff !default;
$navbar-hover-color: rgb(87, 134,146) !default;
$navbar-active-color:  rgb(127, 174,186)         !default;
//$navbar-disabled-color:               $gray-300 !default;