// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
// @import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

@import "react_table_override";

// ie fixes
@import "ie-fix";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



:root {
    font-family: 'Lato' !important;
    font-weight: 400 !important;
}
