// file needs optimization

.instruction-text-tab4 {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: large;
	animation: blinker 2s linear infinite;  
}
@keyframes blinker {  
  	50% { 
		opacity: 0;
	}
}
.table-container-tab4 {
	height: 500px;
	display: table;
}
.tree-container-tab4{
	border: 2px solid #337AB7;
	border-radius: 10px;
	height: 500px;
}