// could be imported elsewhere
@import './custom-d3-tip.scss';
@import './custom-icons.scss';

.dagre-graph {
	
	.label {
		color: black;
	}
	
	.node {
		fill: white;
		cursor: pointer;

		circle {
			fill: #fff;
			stroke: steelblue;
			stroke-width: 1.5px;
		}
		text {
			color: blue;  
			font-size:10px; 
			font-family:sans-serif;
		}
		
		.custom-node {
			margin: 0;
		}
	}
	
	.edgePath {
		path {
			stroke: #333;
			fill: #333;
			stroke-width: 1.5px;
		}
	}
	
}
