
.dagre-graph {
	.node {
		fill: white;
		cursor: pointer;

		// used?
		// circle {
		// 	fill: #fff;
		// 	stroke: steelblue;
		// 	stroke-width: 1.5px;
		// }
		
		// used?
		// text {
		// 	color: blue;  
		// 	font-size:10px; 
		// 	font-family:sans-serif;
		// }		
	}
	.edgePath {
		path {
			stroke: #333;
			fill: #333;
			stroke-width: 1.5px;
		}
	}
	
}
