// bootstarp normalize.less fked things up. 
svg:not(:root) {
    overflow: unset;
}
#sia-imgview {
    grid-area: imageview;        
    #sia-imgview-svg-padding {
        overflow: hidden;
    }
    #sia-imgview-svg-container {
        // @zoom: needed to set overflow on hidden.
        overflow: visible;
        position: relative;
        canvas {
            z-index: 0;
        }
        #sia-imgview-svg {
            overflow: visible;
            position: relative;
        }
    }
    #sia-image-info {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		align-items: center;
        padding-bottom: 0.5rem;
        [data-ref="sia-delete-junk-btn"] {
			justify-self: start;
        }
        [data-ref="image-name"] {
			justify-self: center;
        }
        [data-ref="image-progress"] {
			justify-self: end;
        }
    }
    #sia-imgview-no-more-images {
        display: none;
        background-color: white;
    }
}