// bootstarp normalize.less fked things up. 
svg:not(:root) {
    overflow: unset;
}
#sia-imgview {
    grid-area: imageview;        
	
	#sia-imgview-svg-container {
		overflow: hidden;
		position: relative;
		canvas {
			z-index: 0;
		}
		#sia-imgview-svg {
			overflow: visible;
			position: relative;
		}
	}
    
	[data-ref="image-info"] {
		display: grid;
		grid-template-rows: 35px;
		grid-template-columns: auto auto auto;
		align-items: center;
		padding: 0.2rem 0;
		margin-top: 0.3rem;
        [data-ref="sia-delete-junk-btn"] {
			justify-self: start;
        }
        [data-ref="image-name"] {
			justify-self: center;
        }
        [data-ref="image-progress"] {
			justify-self: end;
        }
    }
}