.load-icon {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes spin {
        from {
            transform: rotate(0deg);
            } to {
                transform: rotate(360deg);
            }
    }
}

// now in l3p-frontend directly in js, cant import them in css. thats a disadvantage...
// .NO_POINTER_EVENTS {
//     pointer-events: none !important; 
// }
// .NO_SELECTION {
//     -moz-user-select: -moz-none !important;
//     -khtml-user-select: none !important;
//     -webkit-user-select: none !important;
//     -o-user-select: none !important;
//     user-select: none !important;
// }

