//*******************
//* General styling *
//*******************
.sel-area-off{
    fill: none;
}

.sel-area-on{
    fill: blue;
    fill-opacity:  0.2;
}

//**********************
//* Annotation styling *
//**********************
.selected{
    stroke: blue;
    fill: blue;
    stroke-width: 5;
    fill-opacity: 0.01;
    cursor: grab;
}

circle.selected{
    fill-opacity: 1.0;
}

.not-selected{
    stroke: purple;
    fill: purple;
    fill-opacity: 0.3;
    stroke-width: 3;
}

circle.not-selected{
    fill-opacity: 1.0;
}

//****************
//* Node styling *
//****************
.node-halo-on{
    fill: orange;
    fill-opacity: 0.5;
    cursor: grab;
}

.node-halo-off{
    fill: none;
}



//Edge styling