.drawable {
    cursor: pointer;
    &-locked {
        cursor: default !important;
    }
    .drawable-cursor-node {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.0);
    }
}

