.sia-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1021;
    width: 100%;
    height: 100%;
    background-color: #073642;
}

body{
    background-image: linear-gradient(to top, #eee8d5 60%, white 100%) !important;
}  